<!DOCTYPE html>
<html lang="en">
<head>

<!--  Meta  -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">	
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="CMEO | Diversity Report Generator" content="Angular Gantt | version 1.0">
<meta name="author" content="Alden J. Curnutt">


<!--  Tab Info  -->
<link rel="shortcut icon" href="assets/images/DIST/TwoCast-Weather-Favicon.ico">
<title>CMEO | Diversity Report Generator</title>


<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="assets/js/lib/angular.min.js"></script>
<script type="text/javascript" src="assets/js/lib/ngDialog.js"></script>
<script type="text/javascript" src="assets/js/directives/alpha-roster-import.js"></script>
<script type="text/javascript" src="assets/js/directives/fltmps-import.js"></script>
<script type="text/javascript" src="assets/js/diversity-app.js"></script>


<link rel="stylesheet" type="text/css" href="assets/css/base.css" />
<link rel="stylesheet" type="text/css" href="assets/css/ngDialog/ngDialog.css" />
<link rel="stylesheet" type="text/css" href="assets/css/ngDialog/ngDialog-theme-default.css" />
<link rel="stylesheet" type="text/css" href="assets/css/diversity-app.css" />


</head><body>
<section ng-app="diversity-report"
			ng-controller="diversityReportCtrl"
			id="diversity-app"
			class="light-scheme">


	<h5 id="app-title">CMEO | Diversity Report Generator</h5>


	
	<!--────────────────────────────────────┐
	 │ Tab UI                               │
	 └─────────────────────────────────────-->
	<tabs class="app-border-radius">
		<span ng-repeat="(tab, content) in ui.tabs"
			  ng-click="setTabState(tab)"
			  ng-class="content.state"
			  class="b trans2 shadow">
			{{ content.title }}
			<span ng-show="content.title == 'Alpha Roster' && alphaObject" class="tab-record-count">
				{{ alphaObject.recordCount }}
			</span>	
		</span>
	</tabs>


	 
	<!--────────────────────────────────────┐
	 │ Tab Body | Alpha Roster              │
	 └─────────────────────────────────────-->
	<div ng-show="ui.activeTab == 'alphaRoster'"
			id="import-tab"
			class="tab-content shadow"
			ng-hidden>

		<p class="tab-body-title b">Load raw command alpha roster<span class="code">.csv</span> file</p>

		<div class="cta-layout clearfix">
			<p class="cta-label float-left">Alpha Roster Actions</p>

			<label for="roster-file-picker"
				   class="file-picker-input cta-action button button-primary shadow float-right"
				   ng-click="unmuteTab('fltmpsRoster')">
				<span ng-show="alphaObject">
					Re
				</span>
					Import
			</label>
			<input class=""
				   id="roster-file-picker"
				   type="file"
				   alpha-reader="fileContent"
				   alpha-Object="alphaObject"
				   alpha-Initial-Array="alphaInitialArray"
				   department-array="departmentArray"
				   value="Select Alpha Roster">
			</input>
			
			<p ng-show="alphaObject"
			   ng-click="openAlphaRecordDialog()"
			   class="cta-action float-right button button-secondary">Add Record</p>
			
			<p ng-click="logAlphaRoster()"
			   ng-show="alphaObject"
			   class="cta-action button button-secondary float-right">Log AlphaRoster</p>
			
			<hr class="cta-action-separator clearfix" 
				ng-show="alphaObject">

			<p class="cta-label float-left" 
			   ng-show="alphaObject">Alpha Roster Filters</p>
		</div>
		
		<div id="alpha-roster-table" ng-show="alphaObject">
			
			<ul class="initial-anchor-list">
				<li ng-repeat="initial in alphaInitialArray">
					<a href="#alpha-initial-{{ initial }}"
					   ng-if="alphaObject[initial].length"
					   class="trans2">{{ initial }}</a>
				</li>
			</ul>

			<table class="data-parent-table shadow">
				<thead>
					<tr>
						<th class="dept-col column-header">Dept</th>
						<th class="rank-rate-col column-header">Rate / Rank</th>
						<th class="last-name-col column-header">Last Name</th>
						<th class="first-name-col column-header">First name</th>
						<th class="row-action-col column-header"></th>
					</tr>
				</thead>
				<tr ng-repeat="initial in alphaInitialArray" 
					ng-if="alphaObject[initial].length">
					<td colspan="5" class="data-table-container">
						<table class="data-table">
							<tr class="initial-header">
								<th class="initial-col" id="alpha-initial-{{initial}}">
									{{ initial }}
									<a href="#app-title" class="float-right trans2">Top</a>
								</th>
							</tr>
							<tr ng-repeat="item in alphaObject[initial]" class="data-row trans2">
								<td class="dept-col data-cell trans2">
									<select name=""
											id=""
											ng-options="dept for dept in departmentArray"
											ng-model="item.dept">
									</select>
								</td>
								<td class="rank-rate-col data-cell trans2">
									<input type="text" ng-model="item.rateRank" class="input">
								</td>
								<td class="last-name-col data-cell trans2">
									<input type="text" ng-model="item.lastName" class="input">
								</td>
								<td class="first-name-col data-cell trans2">
									<input type="text" ng-model="item.firstName" class="input">
								</td>
								<td class="row-action-col data-cell trans2" ng-click="removeAlphaEntry(initial, $index)">
									<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 384">
										<path class="cls-1 trans2"
											  d="m192,0C85.96,0,0,85.96,0,192s85.96,192,192,192,192-85.96,192-192S298.04,0,192,0Zm106.06,252.8c12.49,12.5,12.49,32.76,0,45.26-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.13-22.63-9.37l-60.8-60.8-60.8,60.8c-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.12-22.63-9.37c-12.49-12.5-12.49-32.76.01-45.26l60.8-60.8-60.8-60.8c-12.5-12.5-12.5-32.76-.01-45.26,12.5-12.49,32.76-12.49,45.26,0l60.8,60.8,60.8-60.8c12.5-12.49,32.76-12.49,45.26,0,12.49,12.5,12.49,32.76,0,45.26l-60.8,60.8,60.8,60.8Z" />
									</svg>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>


	
	<!--────────────────────────────────────┐
	 │ Tab Body | FLTMPS Import             │
	 └─────────────────────────────────────-->
	<div ng-show="ui.activeTab == 'fltmpsRoster'"
			id="fltmps-tab"
			class="tab-content shadow"
			ng-hidden>
	
		<p class="tab-body-title b">Load all raw FLTMPS diversity reports as <span class="code">.csv</span> files</p>

		<table class="cta-layout">
			<tr>
				<td>
					<p ng-click="renderFltmpsHTML()" ng-show="fltmpsObject" class="file-picker-input shadow float-left cta-action button button-primary">Render</p>
					<label for="fltmps-file-picker"
						   class="file-picker-input cta-action shadow float-right button button-primary"
						   ng-click="showFltmpsHTML = false">
						   <span ng-show="fltmpsObject">
							Re
						   </span>
						   Import
					</label>
					
					<input class=""
						   id="fltmps-file-picker"
						   type="file"
						   multiple
						   fltmps-reader="fileContent"
						   fltmps-Object="fltmpsObject"
						   fltmps-Initial-Array="fltmpsInitialArray"
						   value="Select Alpha Roster">
					</input>
				</td>
			</tr>
		</table>

		<div ng-show="showFltmpsHTML">
			<table>
				<tr>
					<td colspan="6">Imported FLTMPS Sailors</td>
				</tr>
				<tr>
					<th>Rank / Rate</th>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Gender</th>
					<th>Diversity Group</th>
					<th>UIC</th>
				</tr>
				<tr ng-repeat="initial in fltmpsInitialArray">
					<td colspan="6">
						<table>
							<tr>
								<th colspan="6">
									{{ initial }}
								</th>
							</tr>
							<tr ng-repeat="iten in fltmpsObject[initial]">
								<td>{{ iten.rankRate }}</td>
								<td>{{ iten.lastName }}</td>
								<td>{{ iten.firstName }}</td>
								<td>{{ iten.diversityGroup }}</td>
								<td>{{ iten.genderGroup }}</td>
								<td>{{ iten.uic }}</td>
							</tr>
						</table>
					</td>
					<!-- <tr ng-repeat="item in fltmpsObject[initial]">
						<td>{{ item.rankRate }}</td>
					</tr> -->
				</tr>
			</table>
		</div>
	</div>







	<!-- Tab Content | Tab 3  -->
	<div ng-show="ui.activeTab == 'Tab 3'"
			id="tab-three"
			class="tab-content"
			ng-hidden>
	
		<div class="tab-body app-border-radius shadow">
			<ul class="ul-content clearfix">
				<li class="font-p9rem app-orange-text b">Tab 3</li>
			</ul>
		</div>
	</div>


	<!-- Tab Content | Tab 4  -->
	<div ng-show="ui.activeTab == 'Tab 4'"
			id="a"
			class="tab-content"
			ng-hidden>
	
		<div class="tab-body app-border-radius shadow">
			<ul class="ul-content clearfix">
				<li class="font-p9rem app-orange-text b">Tab 4</li>
			</ul>
		</div>
	</div>



	<!--───────────────────────────────────────┐
	 │ Dialog Body | New Alpha Roster Record   │
	 └────────────────────────────────────────-->
	<div id="new-alpha-record-dialog"
		 class="ngdialog ngdialog-theme-default ngDialog-content"
		 ng-show="newAlphaRecordObject.displayDialog"
		 role="document">
		<div class="ngdialog-overlay"></div>
		<div class="ngdialog-content">
			<h4>Add new Alpha Roster record</h4>
			<button class="ngdialog-close trans2"
					ng-click="closeAlphaRecordDialog()"></button>
	
			<table class="dialog-table">
				<tr>
					<td class="column-header float-right">Dept</td>
					<td>
						<select ng-options="dept for dept in departmentArray"
								ng-model="newAlphaRecordObject.dept">
						</select>
					</td>
				</tr>
				<tr>
					<td class="column-header float-right">Rate / Rank</td>
					<td>
						<input type="text" 
							   ng-model="newAlphaRecordObject.rateRank">
					</td>
				</tr>
				<tr>
					<td class="column-header float-right">Last Name</td>
					<td>
						<input type="text"
							   ng-model="newAlphaRecordObject.lastName">
					</td>
				</tr>
				<tr>
					<td class="column-header float-right">First Name</td>
					<td>
						<input type="text"
							   ng-model="newAlphaRecordObject.firstName">
					</td>
				</tr>
			</table>

			<div class="dialog-actions clearfix">
				<p ng-click="addAlphaRecord()" class="button button-primary shadow float-right">Add Record</p>
				<p ng-click="closeAlphaRecordDialog()" class="button float-right m-r-10">Cancel</p>
			</div>
			<!-- <p>{{ newAlphaRecordObject }}</p> -->
		</div>
	</div>



	
</section>

</body></html>