<!DOCTYPE html>
<html lang="en">
<head>

<!--  Meta  -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">	
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="CMEO | Diversity Report Generator" content="Angular Gantt | version 1.0">
<meta name="author" content="Alden J. Curnutt">


<!--  Tab Info  -->
<link rel="shortcut icon" href="assets/images/DIST/TwoCast-Weather-Favicon.ico">
<title>CMEO | Diversity Report Generator</title>


<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="assets/js/saved-diversity-object.js"></script>
<script type="text/javascript" src="assets/js/lib/angular.min.js"></script>
<script type="text/javascript" src="assets/js/lib/chart.min.js"></script>
<script type="text/javascript" src="assets/js/lib/angular-chart.min.js"></script>
<!-- <script type="text/javascript" src="assets/js/lib/ngDialog.js"></script> -->
<script type="text/javascript" src="assets/js/directives/alpha-roster-import.js"></script>
<script type="text/javascript" src="assets/js/directives/fltmps-import.js"></script>
<script type="text/javascript" src="assets/js/diversity-app.js"></script>


<link rel="stylesheet" type="text/css" href="assets/css/base.css" />
<link rel="stylesheet" type="text/css" href="assets/css/ngDialog/ngDialog.css" />
<link rel="stylesheet" type="text/css" href="assets/css/ngDialog/ngDialog-theme-default.css" />
<link rel="stylesheet" type="text/css" href="assets/css/diversity-app.css" />


</head><body>
<section ng-app="diversity-report"
		 ng-controller="diversityReportCtrl"
		 id="diversity-app"
		 class="light-scheme">


	<h5 id="app-title">CMEO | Diversity Report Generator</h5>


	
	<!--────────────────────────────────────┐
	 │ Tab UI                               │
	 └─────────────────────────────────────-->
	<tabs class="app-border-radius">
		<span ng-repeat="(tab, content) in ui.tabs"
			  ng-click="setTabState(tab)"
			  ng-class="content.state"
			  class="b trans2 shadow">
			{{ content.title }}
			<span ng-show="content.title == 'Alpha Roster' && alphaObject"
				  class="tab-record-count">
				{{ alphaObject.recordCount }}
			</span>
			<span ng-show="content.title == 'FLTMPS' && fltmpsObject && showFltmpsHTML"
				  class="tab-record-count">
				{{ fltmpsObject.recordCount }}
			</span>
			<span ng-show="content.title == 'Diversity Data' && diversityObject"
				  class="tab-record-count">
				{{ diversityObject.recordCount }}
			</span>
		</span>
	</tabs>


	 
	<!--───────────────────────────────────┐
	│ Tab Body | Alpha Roster              │
	└────────────────────────────────────-->
	<div ng-show="ui.activeTab == 'alphaRoster'"
			id="import-tab"
			class="tab-content shadow"
			ng-hidden>

		<p class="tab-body-title b">Load raw command alpha roster<span class="code">.csv</span> file</p>

		<div class="cta-layout clearfix">
			<p class="cta-label float-left">Alpha Roster Actions</p>

			<label for="roster-file-picker"
				   class="file-picker-input cta-action button button-primary shadow float-right">
				<span ng-show="alphaObject">
					Re
				</span>
					Import
			</label>
			<input class=""
				   id="roster-file-picker"
				   type="file"
				   alpha-reader="fileContent"
				   alpha-Object="alphaObject"
				   alpha-Initial-Array="alphaInitialArray"
				   department-array="departmentArray"
				   value="Select Alpha Roster">
			</input>
			
			<p ng-show="alphaObject"
			   ng-click="openAlphaRecordDialog()"
			   class="cta-action float-right button button-secondary">Add Record</p>
			
			<p ng-show="alphaObject"
			   ng-click="validateAlphaRoster()"
			   class="cta-action float-right button button-secondary">Validate Roster
			</p>
			
			<p ng-click="logAlphaRoster()"
			   ng-show="alphaObject"
			   class="cta-action button button-secondary float-right">Log AlphaRoster</p>
			
			<hr class="cta-action-separator clearfix" ng-show="alphaObject">

			<p class="cta-label float-left" ng-show="alphaObject">Rank &amp; Dept Filters</p>
			
			<div class="filter-group float-right clearfix">

				<p class="filter float-right trans2"
				ng-repeat="dept in departmentArray"
				ng-click="setAlphaDeptFilter(dept)"
				ng-class="{ 'active': alphaDeptFilters.includes(dept) }">
					{{ dept }}
				</p>

				<p class="filter float-right trans2"
				ng-click="setAlphaRRFilter()"
				ng-class="{ 'active': filterAlphaRRSpecialChar }"
				ng-show="alphaObject">
					Rank: Special Characters
				</p>
			</div>
		
			<hr class="cta-action-separator clearfix" ng-show="alphaObject">
			
			<p class="cta-label float-left" ng-show="alphaObject">Name Filters</p>
			<!-- {{ alphaDeptFilters }} -->
			<div class="filter-group float-right clearfix" ng-show="alphaObject">
				<p class="filter float-right trans2"
				   ng-click="setAlphaNameSpecialChar()"
				   ng-class="{ 'active': filterAlphaNameSpecialChar }">
					Name: Special Characters
				</p>

				<p class="filter float-right trans2"
				   ng-class="{ 'active': filterAlphaNameText }">
					Search Name
					<input type="text" ng-model="filterAlphaNameText">
					<svg id="Layer_1"
						 data-name="Layer 1"
						 xmlns="http://www.w3.org/2000/svg"
						 viewBox="0 0 384 384"
						 ng-click="filterAlphaNameText = ''">
						<path class="cls-1 trans2"
							d="m192,0C85.96,0,0,85.96,0,192s85.96,192,192,192,192-85.96,192-192S298.04,0,192,0Zm106.06,252.8c12.49,12.5,12.49,32.76,0,45.26-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.13-22.63-9.37l-60.8-60.8-60.8,60.8c-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.12-22.63-9.37c-12.49-12.5-12.49-32.76.01-45.26l60.8-60.8-60.8-60.8c-12.5-12.5-12.5-32.76-.01-45.26,12.5-12.49,32.76-12.49,45.26,0l60.8,60.8,60.8-60.8c12.5-12.49,32.76-12.49,45.26,0,12.49,12.5,12.49,32.76,0,45.26l-60.8,60.8,60.8,60.8Z" />
					</svg>
				</p>
			</div>
		</div>

		<!-- <div>
			<p>Chart.js Demo | <a href="https://www.npmjs.com/package/angular-chart.js/v/1.0.0" target="_blank" style="color: #006fff">Docs</a></p>
			
			<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
			</canvas>
		</div> -->

		<div id="alpha-roster" ng-show="alphaObject">
			
			<ul class="initial-anchor-list">
				<li ng-repeat="initial in alphaInitialArray">
					<a href="#alpha-initial-{{ initial }}"
					   ng-if="alphaObject[initial].length"
					   class="trans2">{{ initial }}</a>
				</li>
			</ul>

			<table class="data-parent-table shadow">
				<thead>
					<tr>
						<th class="column-header dept-col">Dept</th>
						<th class="column-header rank-rate-col">Rate / Rank</th>
						<th class="column-header paygrade-col">Paygrade</th>
						<th class="column-header last-name-col">Last Name</th>
						<th class="column-header row-action-col"></th>
						<th class="column-header first-name-col">First name</th>
						<th class="column-header row-action-col"></th>
					</tr>
				</thead>
				<tr ng-repeat="initial in alphaInitialArray" 
					ng-if="alphaObject[initial].length">
					<td colspan="7" class="data-table-container">
						<table class="data-table">
							<tr class="initial-header">
								<th class="initial-col" id="alpha-initial-{{initial}}">
									{{ initial }}
									<a href="#app-title" class="float-right trans2">Top</a>
								</th>
							</tr>
							<tr ng-repeat="item in alphaObject[initial] | filter:alphaFilter" class="data-row trans2">
								<td class="dept-col data-cell trans2">
									<select name=""
											id=""
											ng-options="dept for dept in departmentArray"
											ng-model="item.dept"
											ng-class="{'match': item.deptMatch}">
									</select>
								</td>
								<td class="rank-rate-col data-cell trans2"
									ng-class="{'match': item.match}">
									<input type="text"
										   ng-model="item.rateRank"
										   class="input"
										   ng-class="{'match': item.rrMatch}"
										   ng-change="toUpper('alphaObject', $index, item.lastInitial, 'rateRank')">
								</td>
								<td class="paygrade-col data-cell trans2">
									<select name=""
											id=""
											ng-options="pg for pg in paygradeArray"
											ng-model="item.paygrade"
											ng-class="{'missing-paygrade': item.missingPaygrade}"
											ng-change="validatePaygrade(initial, $index)">
									</select>
								</td>
								<td class="last-name-col data-cell trans2"
									ng-class="{'highlightName': item.highlightName}">
									<input type="text"
										   ng-model="item.lastName"
										   class="input"
										   ng-class="{'match': item.lastNameSearchMatch || item.lastNameCharMatch}"
										   ng-change="toUpper('alphaObject', $index, item.lastInitial, 'lastName')">
								</td>
								<td class="row-action-col data-cell trans2 row-action-reverse"
									ng-click="reverseAlphaLastFirstName($index, item.lastInitial)"
									ng-mouseenter="item.highlightName = true"
									ng-mouseleave="item.highlightName = false"
									ng-class="{'highlightName': item.highlightName}">
									<svg id="Layer_1"
										 data-name="Layer 1"
										 xmlns="http://www.w3.org/2000/svg"
										 viewBox="0 0 50 50">
										<path class="cls-1 trans2"
											  d="m49.29,14.87s.01-.01.02-.02c.06-.07.12-.15.17-.23,0-.01.01-.02.02-.03.05-.08.09-.15.14-.23,0-.01.01-.02.02-.03.04-.08.08-.16.11-.25,0,0,0-.02.01-.03.03-.09.06-.17.09-.26,0,0,0-.01,0-.02.03-.09.05-.18.07-.27,0,0,0-.01,0-.02.02-.09.03-.19.04-.28,0,0,0,0,0-.01,0-.1.01-.19.01-.29s0-.19-.01-.29c0,0,0,0,0-.01,0-.1-.02-.19-.04-.28,0,0,0-.01,0-.02-.02-.09-.04-.18-.07-.27,0,0,0-.01,0-.02-.03-.09-.06-.18-.09-.26,0,0,0-.02-.01-.03-.03-.08-.07-.17-.11-.25,0-.01-.01-.02-.02-.03-.04-.08-.09-.16-.14-.23,0-.01-.01-.02-.02-.03-.05-.08-.11-.15-.17-.23,0,0-.01-.01-.02-.02-.07-.08-.14-.16-.21-.23,0,0,0,0,0,0L39.33.92c-1.22-1.22-3.2-1.22-4.43,0-1.22,1.22-1.22,3.2,0,4.43l4.41,4.41H3.13c-1.73,0-3.13,1.4-3.13,3.13s1.4,3.13,3.13,3.13h36.18l-4.41,4.41c-1.22,1.22-1.22,3.2,0,4.43.61.61,1.41.92,2.21.92s1.6-.31,2.21-.92l9.75-9.75s0,0,0,0c.07-.07.14-.15.21-.23Z" />
										<path class="cls-1 trans2"
											  d="m46.87,33.99H10.69l4.41-4.41c1.22-1.22,1.22-3.2,0-4.43-1.22-1.22-3.2-1.22-4.43,0L.92,34.9s0,0,0,0c-.07.07-.14.15-.21.23,0,0-.01.01-.02.02-.06.07-.12.15-.17.23,0,.01-.01.02-.02.03-.05.08-.09.15-.14.23,0,.01-.01.02-.02.03-.04.08-.08.16-.11.25,0,0,0,.02-.01.03-.03.09-.06.17-.09.26,0,0,0,.01,0,.02-.03.09-.05.18-.07.27,0,0,0,.01,0,.02-.02.09-.03.19-.04.28,0,0,0,0,0,.01,0,.1-.01.19-.01.29s0,.19.01.29c0,0,0,0,0,.01,0,.1.02.19.04.28,0,0,0,.01,0,.02.02.09.04.18.07.27,0,0,0,.01,0,.02.03.09.06.18.09.26,0,0,0,.02.01.03.03.08.07.17.11.25,0,.01.01.02.02.03.04.08.09.16.14.23,0,.01.01.02.02.03.05.08.11.15.17.23,0,0,.01.01.02.02.07.08.14.16.21.23,0,0,0,0,0,0l9.75,9.75c.61.61,1.41.92,2.21.92s1.6-.31,2.21-.92c1.22-1.22,1.22-3.2,0-4.43l-4.41-4.41h36.18c1.73,0,3.13-1.4,3.13-3.13s-1.4-3.13-3.13-3.13Z" />
									</svg>
								</td>
								<td class="first-name-col data-cell trans2"
									ng-class="{'match': item.match, 'highlightName': item.highlightName}">
									<input type="text"
										   ng-model="item.firstName"
										   class="input"
										   ng-class="{'match': item.firstNameSearchMatch || item.firstNameCharMatch}"
										   ng-change="toUpper('alphaObject', $index, item.lastInitial, 'firstName')">
								</td>
								<td class="row-action-col data-cell trans2"
									ng-click="removeAlphaRecord(initial, $index)"
									ng-show="!activeFilters">
									<svg id="Layer_1"
										 data-name="Layer 1"
										 xmlns="http://www.w3.org/2000/svg"
										 viewBox="0 0 384 384">
										<path class="cls-1 trans2"
											  d="m192,0C85.96,0,0,85.96,0,192s85.96,192,192,192,192-85.96,192-192S298.04,0,192,0Zm106.06,252.8c12.49,12.5,12.49,32.76,0,45.26-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.13-22.63-9.37l-60.8-60.8-60.8,60.8c-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.12-22.63-9.37c-12.49-12.5-12.49-32.76.01-45.26l60.8-60.8-60.8-60.8c-12.5-12.5-12.5-32.76-.01-45.26,12.5-12.49,32.76-12.49,45.26,0l60.8,60.8,60.8-60.8c12.5-12.49,32.76-12.49,45.26,0,12.49,12.5,12.49,32.76,0,45.26l-60.8,60.8,60.8,60.8Z" />
									</svg>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>


	
	<!--───────────────────────────────────┐
	│ Tab Body | FLTMPS Import             │
	└────────────────────────────────────-->
	<div ng-show="ui.activeTab == 'fltmpsRoster'"
			id="fltmps-tab"
			class="tab-content shadow"
			ng-hidden>
	
		<p class="tab-body-title b">Load all raw FLTMPS diversity reports as <span class="code">.csv</span> files</p>

		<div class="cta-layout clearfix">
			<p class="cta-label float-left">FLTMPS Actions</p>
			
			<label for="fltmps-file-picker"
				   class="file-picker-input cta-action shadow float-right button button-primary"
				   ng-click="showFltmpsHTML = false">
				<span ng-show="fltmpsObject">Re</span>
				Import
			</label>
			
			<input class=""
				   id="fltmps-file-picker"
				   type="file"
				   multiple
				   fltmps-reader="fileContent"
				   fltmps-Object="fltmpsObject"
				   fltmps-Initial-Array="fltmpsInitialArray"
				   fltmps-Diversity-Group-Array="fltmpsDiversityGroupArray"
				   fltmps-Uic-Array="fltmpsUicArray"
				   value="Select Alpha Roster">
			</input>
			
			<p ng-click="renderFltmpsHTML()"
			   ng-show="fltmpsObject && !showFltmpsHTML"
			   class="shadow float-right cta-action button button-secondary">Render</p>

			<p class="button button-secondary shadow float-right cta-action"
			   ng-show="fltmpsObject && showFltmpsHTML"
			   ng-click="deleteFltmpsData()">Clear Data</p>
			
			<hr class="cta-action-separator clearfix" ng-show="fltmpsObject && showFltmpsHTML">
			
			<p class="cta-label float-left" ng-show="fltmpsObject && showFltmpsHTML">Name Filter</p>

			<div class="filter-group float-right clearfix" ng-show="fltmpsObject && showFltmpsHTML">
				<p class="filter float-right trans2"
				   ng-class="{ 'active': filterFltmpsNameText }">
					Search Name
					<input type="text" ng-model="filterFltmpsNameText">
				</p>
			</div>
			
		</div>
		

		<div class="roster-table"
			 id="fltmps-roster"
			 ng-show="showFltmpsHTML">

			<ul class="initial-anchor-list">
				<li ng-repeat="initial in fltmpsInitialArray">
					<a href="#fltmps-initial-{{ initial }}"
					   ng-if="fltmpsObject[initial].length"
					   class="trans2">{{ initial }}</a>
				</li>
			</ul>

			<table class="data-parent-table shadow">
				<thead>
					<tr>
						<th class="column-header rank-rate-col">Rate / Rank</th>
						<th class="column-header last-name-col">Last Name</th>
						<th class="column-header first-name-col">First Name</th>
						<th class="column-header gender-col">Gender</th>
						<th class="column-header diversity-group-col">Diversity Group</th>
						<th class="column-header uic-col">UIC</th>
					</tr>
				</thead>
				<tr ng-repeat="initial in fltmpsInitialArray">
					<td colspan="6" class="data-table-container">
						<table class="data-table">
							<tr class="initial-header">
								<th colspan="6" class="initial-col" id="fltmps-initial-{{ initial }}">
									{{ initial }}
									<a href="#app-title" class="float-right trans2">Top</a>
								</th>
							</tr>
							<tr ng-repeat="item in fltmpsObject[initial] | filter:fltmpsFilter" class="data-row trans2">
								<td class="data-cell trans2 rank-rate-col">
									<p>{{ item.rankRate }}</p>
								</td>
								
								<td class="data-cell trans2 last-name-col"
									ng-class="{match: item.lastNameSearchMatch}">
									<p>{{ item.lastName }}</p>
								</td>
								
								<td class="data-cell trans2 first-name-col"
									ng-class="{match: item.firstNameSearchMatch}">
									<p>{{ item.firstName }}</p>
								</td>
								
								<td class="data-cell trans2 gender-col">
									<p>{{ item.genderGroup }}</p>
								</td>
								
								<td class="data-cell trans2 diversity-group-col">
									<p>{{ item.diversityGroup }}</p>
								</td>
								<td class="data-cell trans2 uic-col">
									<p>{{ item.uic }}</p>
								</td>
							</tr>
						</table>
					</td>
					<!-- <tr ng-repeat="item in fltmpsObject[initial]">
						<td>{{ item.rankRate }}</td>
					</tr> -->
				</tr>
			</table>
		</div>
	</div>





	<!--───────────────────────────────────┐
	│ Tab Body | Diversity Data            │
	└────────────────────────────────────-->
	<div ng-show="ui.activeTab == 'diversityRoster'"
		 id="diversity-roster"
		 class="tab-content shadow"
		 ng-hidden>
	
		<p class="tab-body-title b">Merge Alpha Roster with diversity report data</p>

		<div class="cta-layout clearfix">
			<p class="cta-label float-left">Diversity Data Actions</p>

			<p class="cta-action float-right button button-primary"
			   ng-show="alphaObject && fltmpsObject && showFltmpsHTML"
			   ng-click="mergeDiversityData()">
				Merge Data
			</p>

			<p class="cta-action float-right button button-secondary"
			   ng-click="logDiversityObject()">
				Log Diversity Object
			</p>

			<p class="cta-action float-right button button-secondary"
			   ng-click="loadDiversityObject()">
				Load Diversity Data
			</p>

			<hr class="cta-action-separator clearfix" ng-show="diversityObject">
			
			<p class="cta-label float-left" ng-show="diversityObject">Name Filters</p>
			<!-- {{ alphaDeptFilters }} -->
			<div class="filter-group float-right clearfix" ng-show="diversityObject">
				<p class="filter float-right trans2" ng-class="{ 'active': filterDiversityNameText }">
					Search Name
					<input type="text" ng-model="filterDiversityNameText">
					<svg id="Layer_1"
						 data-name="Layer 1"
						 xmlns="http://www.w3.org/2000/svg"
						 viewBox="0 0 384 384"
						 ng-click="filterDiversityNameText = ''">
						<path class="cls-1 trans2"
							d="m192,0C85.96,0,0,85.96,0,192s85.96,192,192,192,192-85.96,192-192S298.04,0,192,0Zm106.06,252.8c12.49,12.5,12.49,32.76,0,45.26-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.13-22.63-9.37l-60.8-60.8-60.8,60.8c-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.12-22.63-9.37c-12.49-12.5-12.49-32.76.01-45.26l60.8-60.8-60.8-60.8c-12.5-12.5-12.5-32.76-.01-45.26,12.5-12.49,32.76-12.49,45.26,0l60.8,60.8,60.8-60.8c12.5-12.49,32.76-12.49,45.26,0,12.49,12.5,12.49,32.76,0,45.26l-60.8,60.8,60.8,60.8Z" />
					</svg>
				</p>
			</div>

			<hr class="cta-action-separator clearfix" ng-show="diversityObject">

			<p class="cta-label float-left" ng-show="diversityObject">Merge Filter</p>

			<div class="filter-group float-right clearfix" ng-show="diversityObject">
				<p class="filter float-right trans2"
				   ng-class="{ 'active': filterDiversityUnmerged }"
				   ng-click="setDiversityUnmergedFilter()">
					Unmerged Records
				</p>
			</div>
		</div>

		<div class="roster-table" ng-show="diversityObject">
		
			<ul class="initial-anchor-list">
				<li ng-repeat="initial in alphaInitialArray">
					<a href="#diversity-initial-{{ initial }}"
					ng-if="alphaObject[initial].length"
					class="trans2">{{ initial }}</a>
				</li>
			</ul>
			
			<table class="data-parent-table shadow">
				<thead>
					<tr>
						<th class="column-header dept-col">Dept</th>
						<th class="column-header rank-rate-col">Rate / Rank</th>
						<th class="column-header paygrade-col">Paygrade</th>
						<th class="column-header last-name-col">Last Name</th>
						<th class="column-header first-name-col">First Name</th>
						<th class="column-header gender-col">Gender</th>
						<th class="column-header diversity-group-col">Diversity Group</th>
						<th class="column-header uic-col">UIC</th>
						<th class="column-header dept-triad-role-col">Leadership</th>
						<th class="column-header coll-duty-col">Collateral Duties</th>
						<th class="column-header bool-col">RE-EN</th>
						<th class="column-header bool-col">ADV</th>
						<th class="column-header bool-col">AWD</th>
						<th class="column-header bool-col">NJP</th>
						<th class="column-header row-action-col"></th>
					</tr>
				</thead>
				<tr ng-repeat="initial in alphaInitialArray">
					<td colspan="15" class="data-table-container">
						<table class="data-table">
							<tr class="initial-header">
								<th colspan="15" class="initial-col" id="diversity-initial-{{ initial }}">
									{{ initial }}
									<a href="#app-title" class="float-right trans2">Top</a>
								</th>
							</tr>
							<tr ng-repeat="item in diversityObject[initial] | filter:diversityFilter track by $index"
								class="data-row trans2"
								ng-class="{'merged': item.merged, 'unmerged': !item.merged}">
								<td class="data-cell trans2 dept-col">
									<select ng-options="dept for dept in departmentArray"
											ng-model="item.dept">
									</select>
								</td>

								<td class="data-cell trans2 rank-rate-col">
									<input type="text"
										   ng-model="item.rateRank"
										   class="input"
										   ng-change="toUpper('diversityObject', $index, item.lastInitial, 'rateRank')">
								</td>
								<td class="data-cell trans2 paygrade-col">
									<select ng-options="pg for pg in paygradeArray"
											ng-model="item.paygrade">
									</select>
								</td>
								<td class="data-cell trans2 last-name-col">
									<input type="text"
										   ng-model="item.lastName"
										   class="input"
										   ng-class="{'match': item.lastNameSearchMatch}"
										   ng-change="toUpper('diversityObject', $index, item.lastInitial, 'lastName')">
								</td>
			
								<td class="data-cell trans2 first-name-col">
									<input type="text"
										   ng-model="item.firstName"
										   class="input"
										   ng-class="{'match': item.firstNameSearchMatch}"
										   ng-change="toUpper('diversityObject', $index, item.lastInitial, 'firstName')">
								</td>
			
								<td class="data-cell trans2 gender-col">
									<select ng-options="gender for gender in genderOptions"
											ng-model="item.genderGroup"
											ng-change="validateDiversityRecord(item.lastInitial, $index)">
									</select>
								</td>
			
								<td class="data-cell trans2 diversity-group-col">
									<select ng-options="group for group in fltmpsDiversityGroupArray"
											ng-model="item.diversityGroup"
											ng-change="validateDiversityRecord(item.lastInitial, $index)">
									</select>
								</td>
								<td class="data-cell trans2 uic-col">
									<select ng-options="uic for uic in fltmpsUicArray"
											ng-model="item.uic"
											ng-change="validateDiversityRecord(item.lastInitial, $index)">
									</select>
								</td>
								<td class="data-cell trans2 dept-triad-role-col">
									<select ng-options="role.shortTitle for role in leadershipRoleOptions"
											ng-model="item.leadershipRole">
									</select>
									<span class="trans2 row-action clear"
										  ng-click="clearLeadershipRole(item.lastInitial, $index)"
										  ng-show="item.leadershipRole">Clear</span>
								</td>
								<td class="data-cell trans2 coll-duty-col">
									<span class="trans2 row-action edit"
										  ng-click="openDiversityCollDialog(item.lastInitial, $index)"
										  ng-show="item.collateralDuties && !filterDiversityUnmerged">
										  Edit
									</span>
									<div class="data-row-bubble-group">
										<span ng-repeat="duty in item.collateralDuties"
											  class="duty-bubble">{{ duty.collateralLevel }} {{ duty.collateralTitle }}</span>
									</div>
									<span class="trans2 row-action clear"
										  ng-click="openDiversityCollDialog(item.lastInitial, $index)"
										 ng-show="!item.collateralDuties && !filterDiversityUnmerged">
										Add
									</span>
								</td>
								<td class="data-cell trans2 bool-col">
									<input type="checkbox"
										   ng-model="item.reenlisted"
										   name=""
										   id="">
								</td>
								<td class="data-cell trans2 bool-col">
									<input type="checkbox"
										   ng-model="item.advanced"
										   name=""
										   id="">
								</td>
								<td class="data-cell trans2 bool-col">
									<input type="checkbox"
										   ng-model="item.awarded"
										   name=""
										   id="">
								</td>
								<td class="data-cell trans2 bool-col">
									<input type="checkbox"
										   ng-model="item.disciplined"
										   name=""
										   id="">
								</td>
								<td class="row-action-col data-cell trans2"
									ng-click="removeDiversityEntry(initial, $index)"
									ng-show="!filterDiversityNameText && !filterDiversityUnmerged">
									<svg id="Layer_1"
										 data-name="Layer 1"
										 xmlns="http://www.w3.org/2000/svg"
										 viewBox="0 0 384 384">
										<path class="cls-1 trans2"
											d="m192,0C85.96,0,0,85.96,0,192s85.96,192,192,192,192-85.96,192-192S298.04,0,192,0Zm106.06,252.8c12.49,12.5,12.49,32.76,0,45.26-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.13-22.63-9.37l-60.8-60.8-60.8,60.8c-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.12-22.63-9.37c-12.49-12.5-12.49-32.76.01-45.26l60.8-60.8-60.8-60.8c-12.5-12.5-12.5-32.76-.01-45.26,12.5-12.49,32.76-12.49,45.26,0l60.8,60.8,60.8-60.8c12.5-12.49,32.76-12.49,45.26,0,12.49,12.5,12.49,32.76,0,45.26l-60.8,60.8,60.8,60.8Z" />
									</svg>
								</td>
							</tr>
						</table>
					</td>
					<!-- <tr ng-repeat="item in fltmpsObject[initial]">
									<td>{{ item.rankRate }}</td>
								</tr> -->
				</tr>
			</table>

		</div>
	</div>


	<!--───────────────────────────────────┐
	│ Tab Body | Diversity Report          │
	└────────────────────────────────────-->
	<div ng-show="ui.activeTab == 'diversityReport'"
			id="diversity-report"
			class="tab-content"
			ng-hidden>
	
		<p class="tab-body-title b">Generate final Diversity Report</p>

		<div class="cta-layout clearfix">
			<p class="cta-label float-left">Diversity Report Actions</p>

			<p class="cta-action float-right button button-primary">Generate Report</p>
		</div>

		<div id="print-target">
			<div class="page">
				<p>Page 1</p>
				
				<div class="footer">
					<table>
						<tr>
							<td></td>
							<td class="page-number">1</td>
							<td class="enclosure-label">Enclosure (2)</td>
						</tr>
					</table>
				</div>
			</div>


			<div class="page">
				<p>Page 2</p>
				

				<div class="footer">
					<table>
						<tr>
							<td></td>
							<td class="page-number">2</td>
							<td class="enclosure-label">Enclosure (2)</td>
						</tr>
					</table>
				</div>
			</div>


			<div class="page">
				<p>Page 3</p>
				

				<div class="footer">
					<table>
						<tr>
							<td></td>
							<td class="page-number">3</td>
							<td class="enclosure-label">Enclosure (2)</td>
						</tr>
					</table>
				</div>
			</div>


			<div class="page">
				<p>Page 4</p>


				<div class="footer">
					<table>
						<tr>
							<td></td>
							<td class="page-number">4</td>
							<td class="enclosure-label">Enclosure (2)</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="page">
				<p>Page 5</p>
				

				<div class="footer">
					<table>
						<tr>
							<td></td>
							<td class="page-number">5</td>
							<td class="enclosure-label">Enclosure (2)</td>
						</tr>
					</table>
				</div>
			</div>


			<div class="page">
				<p>Page 6</p>


				<div class="footer">
					<table>
						<tr>
							<td></td>
							<td class="page-number">6</td>
							<td class="enclosure-label">Enclosure (2)</td>
						</tr>
					</table>
				</div>
			</div>


			<div class="page">
				<p>Page 7</p>
				

				<div class="footer">
					<table>
						<tr>
							<td></td>
							<td class="page-number">7</td>
							<td class="enclosure-label">Enclosure (2)</td>
						</tr>
					</table>
				</div>
			</div>


			<div class="page">
				<p>Page 8</p>
				

				<div class="footer">
					<table>
						<tr>
							<td></td>
							<td class="page-number">8</td>
							<td class="enclosure-label">Enclosure (2)</td>
						</tr>
					</table>
				</div>
			</div>


			<div class="page">
				<p>Page 9</p>
				

				<div class="footer">
					<table>
						<tr>
							<td></td>
							<td class="page-number">9</td>
							<td class="enclosure-label">Enclosure (2)</td>
						</tr>
					</table>
				</div>
			</div>


			<div class="page">
				<p>Page 10</p>
				

				<div class="footer">
					<table>
						<tr>
							<td></td>
							<td class="page-number">10</td>
							<td class="enclosure-label">Enclosure (2)</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>



	<!--──────────────────────────────────────┐
	│ Dialog Body | New Alpha Roster Record   │
	└───────────────────────────────────────-->
	<div id="new-alpha-record-dialog"
		 class="ngdialog ngdialog-theme-default ngDialog-content"
		 ng-show="newAlphaRecordObject.displayDialog"
		 role="document">
		<div class="ngdialog-overlay"></div>
		<div class="ngdialog-content">
			<h4>Add new Alpha Roster record</h4>
			<button class="ngdialog-close trans2"
					ng-click="closeAlphaRecordDialog()">
			</button>
			
			<table class="dialog-table">
				<tr>
					<td class="column-header float-right">Dept</td>
					<td>
						<select ng-options="dept for dept in departmentArray"
								ng-model="newAlphaRecordObject.dept">
						</select>
					</td>
				</tr>
				<tr>
					<td class="column-header float-right">Rate / Rank</td>
					<td>
						<input type="text" 
							   ng-model="newAlphaRecordObject.rateRank">
					</td>
				</tr>
				<tr>
					<td class="column-header float-right">Paygrade</td>
					<td>
						<select ng-options="pg for pg in paygradeArray"
								ng-model="newAlphaRecordObject.paygrade">
						</select>
					</td>
				</tr>
				<tr>
					<td class="column-header float-right">Last Name</td>
					<td>
						<input type="text"
							   ng-model="newAlphaRecordObject.lastName">
					</td>
				</tr>
				<tr>
					<td class="column-header float-right">First Name</td>
					<td>
						<input type="text"
							   ng-model="newAlphaRecordObject.firstName">
					</td>
				</tr>
			</table>

			<div class="dialog-actions clearfix">
				<p ng-click="addAlphaRecord()" class="button button-primary shadow float-right">Add Record</p>
				<p ng-click="closeAlphaRecordDialog()" class="button float-right m-r-10">Cancel</p>
			</div>
			<!-- <p>{{ newAlphaRecordObject }}</p> -->
		</div>
	</div>



	<!--──────────────────────────────────────┐
	│ Dialog Body | Diversity Collaterals     │
	└───────────────────────────────────────-->
	<div id="diversity-coll-dialog"
		 class="ngdialog ngdialog-theme-default ngDialog-content"
		 ng-show="EditDiversityCollObject.displayDialog"
		 role="document">
		<div class="ngdialog-overlay"></div>
		<div class="ngdialog-content">
			<h4>Modify Collateral Duty Ownership</h4>
			<button class="ngdialog-close trans2" ng-click="CloseDiversityCollDialog()"></button>
	
			<div class="selected-sailor">
				<p>{{ EditDiversityCollObject.memberRateRank }} {{ EditDiversityCollObject.memberLastName }}, {{ EditDiversityCollObject.memberfirstName }}</p>
			</div>


			<table class="dialog-table data-parent-table">
				<thead>
					<tr>
						<th class="column-header level-col">Level</th>
						<th class="column-header title-col">Collateral Duty</th>
						<th class="column-header row-action-col"></th>
					</tr>
				</thead>
				<tr ng-repeat="coll in EditDiversityCollObject.selectedArray track by $index">
					<td class="data-row level-col">
						<select ng-options="level for level in EditDiversityCollObject.collateralLevels"
								ng-model="EditDiversityCollObject.selectedArray[$index].collateralLevel">
						</select>
					</td>
					<td class="data-row title-col">
						<select ng-options="title for title in EditDiversityCollObject.collateralTitles"
								ng-model="EditDiversityCollObject.selectedArray[$index].collateralTitle">
						</select>
					</td>
					<td class="data-row row-action-col">
						<svg id="Layer_1"
							 data-name="Layer 1"
							 xmlns="http://www.w3.org/2000/svg"
							 viewBox="0 0 384 384"
							 ng-click="removeDiversityCollDuty($index)">
							<path class="cls-1 trans2"
								  d="m192,0C85.96,0,0,85.96,0,192s85.96,192,192,192,192-85.96,192-192S298.04,0,192,0Zm106.06,252.8c12.49,12.5,12.49,32.76,0,45.26-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.13-22.63-9.37l-60.8-60.8-60.8,60.8c-6.25,6.24-14.44,9.37-22.63,9.37s-16.38-3.12-22.63-9.37c-12.49-12.5-12.49-32.76.01-45.26l60.8-60.8-60.8-60.8c-12.5-12.5-12.5-32.76-.01-45.26,12.5-12.49,32.76-12.49,45.26,0l60.8,60.8,60.8-60.8c12.5-12.49,32.76-12.49,45.26,0,12.49,12.5,12.49,32.76,0,45.26l-60.8,60.8,60.8,60.8Z" />
						</svg>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<span class="trans2 row-action clear" ng-click="addDiversityCollDuty()">Add</span>
					</td>
				</tr>
			</table>

			<!-- <p>
				{{ EditDiversityCollObject.selectedArray }}
			</p> -->
	
			<div class="dialog-actions clearfix">
				<p ng-click="setDiversityCollDuty()" class="button button-primary shadow float-right">Add Record</p>
				<p ng-click="CloseDiversityCollDialog()" class="button float-right m-r-10">Cancel</p>
			</div>
			<!-- <p>{{ newAlphaRecordObject }}</p> -->
		</div>
	</div>



	
</section>

</body></html>