/*\
|*| General Elements
\*/
body {
	height: 99vh;
	background-color: #eeeeee;
}

section {
	height: 100%;
	border: 1px solid green;
	padding: 10px;
}
input[type="file"] {
	display: none;
}
table {
	margin: 20px 0 0 0;
	position: relative;
	top: 0;
}

th {
	position: sticky;
	top: 0;
	text-align: left;
	background-color: #EEE;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
tr
{
	height: 30px;
}
tr:nth-child(even) {
	background-color: #fafafa;
}
tr:nth-child(even) td:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

tr:nth-child(even) td:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
td {
	vertical-align: middle;
}
td input {
	background: none;
	border: none;
	cursor: pointer;
}

/*\
|*| App Utility Classes
\*/
.float-right {
	float: right;
}
.float-left	{
	float: left;
}
.shadow {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.file-picker-input {
	border: 1px solid #e5e5e5;
	margin: 10px 0px 10px 0px;
	padding: 8px 20px 8px 20px;
	display: inline-block;
	border-radius: 3px;
	background-color: #eeeeee;
	color: #273854;
	cursor: pointer;
	font-size: .8rem;
	font-weight: bold;
}
.code {
	padding: 0px 4px 0px 0px;
	display: inline-block;
	background-color: #eee;
	font-family: Courier, monospace;
	color: #333;
	border-radius: 3px;;
}
.cta-layout {
	width: 100%;
	table-layout: fixed;
}
.cta-layout td {
	/* border: 1px solid red; */
	width: 50%;
}


/*\
|*| Tab UI
\*/
tabs {
	/* border: 1px solid red; */
	margin: 20px 0px 10px 0px;
	display: block;
	border-radius: 3px;
}
tabs span {
	/* border: 1px solid blue; */
	margin: 0px 2px 0px 0px;
	padding: 7px 10px;
	display: inline-block;
	background-color: #e7e7e7;
	border-bottom: 2px solid #fff;
	cursor: pointer;
	font-size: .8rem;
	color: #777;
}
tabs span:first-child {
	border-top-left-radius: 3px;
}

tabs span:last-child {
	border-top-right-radius: 3px;
}
tabs .active {
	border-bottom: 2px solid #273854;
	background-color: #fff;
	color: #333;
}
tabs .muted {
	border-bottom-color: #eee;
	color: #ccc;
}



/*\
|*| Tab Body Content UI
\*/
.tab-content {
	/* border: 1px solid purple; */
	margin: 20px 0px 0px 0px;
	padding: 10px;
	background-color: #fff;
	border-radius: 3px;
}
.tab-content .tab-body-title {
	margin: 0px 0px 0px 0px;
}






/*\
|*| Table Ui
\*/



/*\
|*| tbd
\*/









/*\
|*| Application Button UI
\*/
