/*\
|*| General Elements
\*/
body {
	height: 99vh;
	background-color: #eeeeee;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
	height: 100%;
	border: 1px solid green;
	padding: 10px;
}
input[type="file"] {
	display: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
	position: relative;
	top: 0;
}
th {
	position: sticky;
	top: 0;
	text-align: left;
	vertical-align: middle;
}
tr
{
	height: 30px;
	white-space: nowrap;
}
td {
	vertical-align: middle;
}
input {
	padding: 0 0 0 5px;
	line-height: 20px;
	border: 2px solid #f8f9fc;
	border-radius: 3px;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input:hover {
	border: 2px solid #c9d4f6;
}
input[type=text]:focus {
	outline: none;
	border: 2px solid #006fff;
	background-color: #fff;
}
select {
	padding: 0 0 0 5px;
	display: inline-block;
	outline: none;
	line-height: 21px;
	height: 25px;
	border: 2px solid #f8f9fc;
	border-radius: 3px;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
select:hover {
	border: 2px solid #c9d4f6;
	background-color: #fff;
}
select:focus {
	border: 2px solid #006fff;
	background-color: #fff;
}



/*\
|*| App Utility Classes
\*/
.block {
	display: block;
}
.float-right {
	float: right;
}
.float-left	{
	float: left;
}
.shadow {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.code {
	padding: 0px 4px 0px 0px;
	display: inline-block;
	background-color: #eee;
	font-family: Courier, monospace;
	color: #333;
	border-radius: 3px;;
}
.button {
	margin: 10px 10px 10px 0px;
	padding: 8px 20px 8px 20px;
	display: inline-block;
	border-radius: 3px;
	font-size: .8rem;
	font-weight: bold;
	cursor: pointer;
	line-height: 1rem;

}
.button-primary {
	border: 1px solid #0369ee;
	background-color: #006fff;
	color: #fff;
}
.button-secondary {
	border: 1px solid #ccc;
	background: #f9f9f9;
	color: #333;
}
.column-header {
	padding: 0px 5px 0px 6px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	font-size: .9rem;
}




/*\
|*| Tab UI
\*/
tabs {
	margin: 40px 0px 10px 0px;
	display: block;
	border-radius: 3px;
}
tabs span {
	margin: 0px 2px 0px 0px;
	padding: 10px 10px;
	display: inline-block;
	background-color: #e7e7e7;
	border-bottom: 2px solid #fff;
	cursor: pointer;
	font-size: .8rem;
	color: #777;
}
tabs span:first-child {
	border-top-left-radius: 3px;
}
tabs span:last-child {
	border-top-right-radius: 3px;
}
tabs .active {
	border-bottom: 2px solid #006fff;
	background-color: #fff;
	color: #333;
}
tabs .muted {
	border-bottom-color: #eee;
	color: #ccc;
}
tabs .tab-record-count {
	padding: 0px 4px 1px 4px;
	display: inline;
	border: 1px solid #cc0f67;
	border-radius: 3px;
	color: #cc0f67;
	font-size: 0.65rem;
}
tabs .active .tab-record-count {
	background-color: #ff1282;
	color: #fff;
}


/*\
|*| CTA Layout
\*/
.cta-layout {
	border: 2px solid #f7f9fc;
	margin: 40px 0px 0px 0px;
	padding: 5px 0 5px 0;
	width: 100%;
	border-radius: 3px;
	text-align: center;
}
.cta-layout .cta-label {
	margin: 0px 0px 0px 5px;
	line-height: 28px;
	color: #ccc;
}
.cta-layout .cta-action {
	margin: 0px 5px 0px 0px;
}
.cta-layout .cta-action-separator {
	margin: 10px auto;
	display: inline-block;
	width: 98%;
	border-top: 2px solid #f8f9fc;
}



/*\
|*| CTA Filter UI
\*/
.filter-group {
	max-width: 80%;
}
.filter {
	padding: 0px 8px 0px 8px;
	margin: 2px 0px 3px 5px;
	border: 2px solid #f7f9fc;
	border-radius: 10px;
	background-color: #f7f9fc;
	cursor: pointer;
	font-size: .9rem;
}
.filter.active {
	background-color: #ff1282;
	border: 2px solid #ff1282;
	color: #fff;
}
.filter input {
	border-radius: 10px;
	height: .8rem;
	background-color: #fefefe;
	text-transform: uppercase;
}
.filter.active input {
	background-color: #ff4099;
	border-color: #ff4099;
	color: #fff;
}



/*\
|*| Tab Body Content UI
\*/
.roster-table {
	margin: 20px 0px 0px 0px;
}
.tab-content {
	/* border: 1px solid purple; */
	margin: 20px 0px 0px 0px;
	padding: 10px;
	background-color: #fff;
	border-radius: 3px;
}
.tab-content .tab-body-title {
	margin: 0px 0px 0px 0px;
}
.initial-anchor-list li {
	margin: 0px 4px 0px 0px;
	display: inline;
}
.initial-anchor-list li a {
	padding: 0 4px 0 4px;
	color: #006fff;
	background: #f8f9fc;
	border-radius: 3px;
}
.initial-anchor-list li a:hover {
	background-color: #006fff;
	color: #fff;
}


/*\
|*| Table Ui
\*/
.data-parent-table { table-layout: fixed; }
.data-parent-table .data-table { width: 100%; }
.data-parent-table .data-table-container {
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
}
.data-parent-table thead th { border-top: 1px solid #eee; }
.data-parent-table thead th:first-child { border-left: 1px solid #eee; }
.data-parent-table thead th:last-child { border-right: 1px solid #eee; }

.data-parent-table .column-header {
	background-color: #f7f9fc;
}
.data-parent-table .data-row:hover td { background: #f8f9fc; }
.data-parent-table .data-row:hover input { background: #f8f9fc; }
.data-parent-table .data-row:hover select { background: #f8f9fc; }
.data-parent-table .data-row:hover p { border-color: #f8f9fc; }
.data-parent-table .data-row:hover svg path { fill: #c9d4f6; }
.data-parent-table .data-cell  {
	padding: 0px 5px 0px 5px;
	display: inline-block;
	line-height: 30px;
}
.data-parent-table .initial-header th {
	padding: 0px 0px 0px 5px;
	background-color: #f7f9fc;
	color: #c9d4f6;
	font-weight: 500;
}
.data-parent-table .initial-header a {
	margin: 0 5px 0 0;
	font-size: .8rem;
	color: #c9d4f6;
	font-weight: 500;
}
.data-parent-table .initial-header a:hover { color: #ff1282; }
.data-parent-table select {
	margin: 4px 0px 0px 0px;
	width: 84px;
}
.data-parent-table .dept-col { width: 80px; }
.data-parent-table .rank-rate-col {
	padding: 0px 0px 0px 5px;
	width: 120px;
}
.data-parent-table .last-name-col { width: 180px; }
.data-parent-table .first-name-col { width: 180px; }
.data-parent-table .rank-rate-col input { width: 110px; }
.data-parent-table .last-name-col input { width: 175px; }
.data-parent-table .row-action-col svg {
	margin: 0px 0px -5px 0px;
	height: 20px;
	cursor: pointer;
}
.data-parent-table .row-action-col svg path { fill: #fff; }
.data-parent-table .row-action-col svg:hover path { fill: #ff1282; }
.data-parent-table select.match {
	border-color: #ff1282;
}
.data-parent-table input.match {
	border-color: #ff1282;
}
.data-parent-table .data-cell p {
	padding: 0px 0px 0px 2px;
	border: 2px solid #fff;
	border-radius: 3px;
	height: 22px;
	line-height: 22px;
}
.data-parent-table .data-cell.match p {
	border-color: #ff1282;
}


#fltmps-roster .rank-rate-col {	width: 90px; }
#fltmps-roster .gender-col { width: 60px; }
#fltmps-roster .diversity-group-col { width: 360px; }
#fltmps-roster .uic-col { width: 55px; }

#diversity-roster .first-name-col {	width: 155px; }
#diversity-roster .gender-col {
	height: 30px;
	width: 55px;
}
#diversity-roster .dept-col { height: 30px; }
#diversity-roster .gender-col select { width: 60px; }
#diversity-roster .diversity-group-col {
	height: 30px;
	width: 360px;
}
#diversity-roster .diversity-group-col select { width: 100%; }
#diversity-roster .uic-col {
	padding-left: 0px;
	width: 45px;
	height: 30px;
}
#diversity-roster .uic-col select { width: 50px; }
#diversity-roster .dept-triad-role-col {
	height: 30px;
	width: 165px;
}
#diversity-roster .dept-triad-role-col .clear {
	font-size: .8rem;
	line-height: 30px;
	color: #c9d4f6;
	cursor: pointer;
	font-weight: 500;
}

#diversity-roster .dept-triad-role-col select { width: 130px; }

.data-parent-table .gender-col {
	width: 60px;
}


#diversity-roster .data-row.unmerged td {
	padding-bottom: 3px;
	background: pink;
}
#diversity-roster .data-row.unmerged p {
	border-color: pink;
}
#diversity-roster .data-row.unmerged .gender-col select {
	border-color: #ff1282;
}
#diversity-roster .data-row.unmerged .diversity-group-col select {
	border-color: #ff1282;
}
#diversity-roster .data-row.unmerged .uic-col select {
	border-color: #ff1282;
}
#diversity-roster .data-row.unmerged svg path {
	fill: pink;
}
#diversity-roster .data-row.unmerged .clear {
	color: #fff;
}
#diversity-roster .dept-triad-role-col .clear:hover {
	color: #ff1282;
}




/*\
|*| Dialog UI
\*/
.ngdialog-content .ng-empty {
	border: 2px solid pink;
}
.ngdialog-content .ng-not-empty {
	border: 2px solid #b9edb9;
}
#new-alpha-record-dialog .ngdialog-content {
	width: 400px;
}
#new-alpha-record-dialog .ngdialog-close:before {
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s
}
#new-alpha-record-dialog .ngdialog-close:hover:before {
	color: #ff1282;
}
#new-alpha-record-dialog .dialog-table {
	margin: 20px 0px 0px 0px;
}
#new-alpha-record-dialog .ngdialog-content {
	background: #fff;
}
#new-alpha-record-dialog select {
	width: 80px;
}
#new-alpha-record-dialog input {
	text-transform: uppercase;
}
#new-alpha-record-dialog .dialog-actions {
	margin: 20px 0px 0px 0px;
}





/*\
|*| Application Button UI
\*/
